.red{
    color: red;
    background-color: olivedrab;
    max-width: 300px;
}
.blue{
    color: blue;
    background-color: olivedrab;
    max-width: 300px;
}

div{
    background-color: orange;
    max-width: 300px;
}
